# SSRU CE QE & Project Booking System Environment Variables
NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyCTzpSgjEdEze3I1Vmcbs7YSv22Z0OGLZM
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=ce-room-da794.firebaseapp.com
NEXT_PUBLIC_FIREBASE_DATABASE_URL=https://ce-room-da794-default-rtdb.asia-southeast1.firebasedatabase.app
NEXT_PUBLIC_FIREBASE_PROJECT_ID=ce-room-da794
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=ce-room-da794.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=342530054907
NEXT_PUBLIC_FIREBASE_APP_ID=1:342530054907:web:03d4b8b17644f2a5032e5e
NEXT_PUBLIC_FIREBASE_MEASUREMENT_ID=G-NDNR437WE4
